.delete-article__btn {
    width: 100px;
    height: 40px;
    font-size: 20px;
    border: 1px solid #F5222D;
    color: #F5222D;
    border-radius: 6px;
    background-color: #FFF;
    position: relative;
    right: 9em;
    float: inline-end;
    bottom: 2em;
    cursor: pointer;
}

.full-article {
    height: 810px;
}