.full-article {
    min-height: 800px;
}

.full-articles-tag {
    margin-bottom: 50px;
}

.article__title {
    color: #1890FF;
}

.article__descr {
    color: #00000080;
    font-size: 14px;
    min-width: 682px;
    height: 45px;
    clear: both;
}

.article-main-text {
    max-height: 420px;
}