.edit-profile {
    width: 400px;
    height: 500px;
    padding: 48px, 32px, 48px, 32px;
    margin: 0 auto;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    padding-top: 15px;
    border-radius: 6px;
}

.signup-form {
    width: 460px;
    min-height: 900px;
}

.active {
    display: block;
}

.not-active {
    display: none;
}

.added-tag {
    width: 40%;
    border: 1px solid #000;
    border-radius: 6px;
    margin-right: 10px;
    font-size: 22px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    cursor: none;
}

input {
    display: block;
}

.signup-check {
    width: 20px;
    height: 20px;
}

form {
    width: 90%;
}

.have-account {
    text-align: center;
}

.tags-first-container,
.tags-second-container,
.tags-third-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.title_text,
.description_text,
.text_text,
.tags_text {
    float: left;
}

.signup-text {
    float: right;
}

.signup-checkbox {
    display: flex;
    width: 80%;
    align-items: baseline;
}


.title,
.description,
.text,
.tags,
.send-btn {
    width: 100%;
    clear: both;
    height: 40px;
    border-radius: 6px;
    margin: 10px 0;
    cursor: pointer;
}

.send-btn {
    color: #FFFFFF;
    background-color: #1890FF;
    margin-top: 40px;
    font-size: 18px;
    height: 50px;
    margin-bottom: 50px;
}


.delete-btn,
.add-btn {
    width: 120px;
    height: 40px;
    background-color: #FFFFFF;
    border: 1px solid red;
    color: red;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;
}

.delete-btn {
    //display: inline-block;
    margin-right: 15px;
}

.delete-btn:hover {
    color: #fff;
    background-color: red;
}

.add-btn {
    border: 1px solid #1890FF;
    color: #1890FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
}

.add-btn:hover {
    color: #fff;
    background-color: #1890FF;
}

.tags-form {
    display: block
}

.tags {
    width: 40%;
    margin-right: 20px;
    padding-left: 10px;
}

.tags-list {
    list-style-type: none;
}

// .tags:first-child {
//     display: inline-block;
// }

.text {
    height: 40px;
}