.create-article {
    width: 938px;
    height: 701px;
    padding: 48px, 32px, 48px, 32px;
    margin: 0 auto;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    border-radius: 6px;
}

.edit-article {
    min-height: 790px;
}

.tags-first-container,
.tags-second-container,
.tags-third-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

input {
    display: block;
}

form {
    width: 90%;
}

.title_text,
.description_text,
.text_text,
.tags_text {
    float: left;
}


.title,
.description,
.text,
.tags,
.send-btn {
    width: 100%;
    clear: both;
    height: 40px;
    border-radius: 6px;
    margin: 10px 0;
}

.send-btn {
    color: #FFFFFF;
    background-color: #1890FF;
    margin-top: 40px;
}

.send-btn {
    width: 45%;
}

.delete-btn,
.add-btn {
    width: 120px;
    height: 40px;
    background-color: #FFFFFF;
    border: 1px solid red;
    color: red;
    border-radius: 6px;
}

.delete-btn {
    display: inline-block;
    margin-right: 15px;
}

.add-btn {
    border: 1px solid #1890FF;
    color: #1890FF;
}

.tags-form {
    display: block
}

.tags {
    width: 40%;
    margin-right: 20px;
}

// .tags:first-child {
//     display: inline-block;
// }

.text {
    height: 168px;
}